/* your code here */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Gugi&family=Lato:wght@100&family=Outfit&family=Roboto:wght@100;300;400&display=swap');


body{
    background:#32cd82;
    font-family: 'Roboto', sans-serif;
}

.container{
    width:90vw;
    height:80vh;
    background:white;
    max-width:800px;
    margin:0 auto;
    margin-top:3rem;
    border-radius:.5rem;
    box-shadow:5px 5px 10px rgba(0,0,0,0.5);
    display:grid;
    grid-template-columns:1fr 1fr;
    position:relative;
    

}
.photo-container{
background:#00ff18;
 border-radius:.2rem;
 height: 80%;
 position: relative;
 top:2rem;
 right:2rem;
 /* display:grid;
grid-template-rows:4fr 1fr; */
box-shadow:5px 5px 10px rgba(0,0,0,0.5);

}
.share{
position: absolute;
color:white;
left:.5rem;
top:.5rem;
}
.heart{
position: absolute;
color:white;
right:.5rem;
top:.5rem;
}

.photo-main{
    
    
position:absolute;
top:1rem;
left:-3rem;
}
.main-photo img{
    width:90%;
    filter:drop-shadow(20px 10px 50px white)
}

.photo-album{
height:4rem;
background:white;
position: absolute;
width:100%;
bottom:0;
border-radius:.2em;
}

.album-container{
    display:flex;
justify-content:space-around;
align-items:center;
}
.album-img{
    list-style:none;
    width:2rem;
    height:2rem;
    padding:5px;
    border:1px solid lightgrey;
    border-radius:5px;
    margin-top:-.5rem;
    margin-left:-1rem;


}
li img{
    width:100%;
    height:100%;    object-fit:cover;


}



.desc{

width:100%;
height:100%;
padding:20px 0;
}
.title{
    text-transform:capitalize;
    font-size:1.2rem;
    padding-top:1rem;
margin-bottom:-.5rem;
letter-spacing:.1rem;

}

.code{
    color:lightgrey;
    font-size:.6rem;
    
}

.price{
    
    color:red;
    display:flex;
    align-items:center;


}

.price span{
    font-size:2.2rem;
    margin-left:15px;
}


.heading{
    text-transform:uppercase;
    color:grey;
    font-size:.7rem;
    letter-spacing:4px;
}
.description>ul>li{
font-size:.7rem;
line-height:1rem;
}


.btn{
    border:transparent;
    background:#d75328;
    color:white;
    padding:.75rem 1rem;
    border-radius:10px;
    box-shadow:5px 5px 15px rgba(0,0,0,0.3);
    font-weight:600;
    cursor:pointer;
}